.button{
    font-size: 16px;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 4px;
    background-color: hsl(40, 100%, 45%);
    border: solid 1px  hsl(40, 100%, 45%) ;
    color: hsl(10, 100%, 100%);
}