.button{
    font-size: 16px;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 4px;
    background-color: hsl(40, 100%, 45%);
    border: solid 1px  hsl(40, 100%, 45%) ;
    color: hsl(10, 100%, 100%);
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    font-weight: 700;
}
.button:hover{
    background-color: hsl(40, 100%, 35%);
    border: solid 1px  hsl(40, 100%, 35%) ;
}
.button:focus{
 outline:none ;
}
.button:active{
    background-color: hsl(40, 100%, 40%);
    border: solid 1px  hsl(40, 100%, 40%) ;
}